.update-table {
    width: 70%;
}

.update-table button {
    text-align: center;
    width: fit-content;

}

.update-btn button {
    width: auto;
    border-radius: 4px;
    min-width: 70px;
    border: none;

}

.update-store-btn {
    /* text-align: center; */
}

/* ------------------------------------update store------------------------------------------------ */




/* ------------------------------add store manager------------------------------------------------- */
.update-store {
    background-color: #ffffff;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;

}

.add-store-manager {
    background-color: #ffffff;
    width: 55%;
    height: fit-content;
    margin: 40px auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}


.add-manager-btn {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 20px 0;

}

.add-manager-btn button:nth-child(1) {
    padding: 10px;
    margin-right: 5px;
    width: max-content;
    border-radius: 5px;
    border: none;
}

.add-manager-btn button:nth-child(2) {
    color: #fff;
    width: max-content;
    padding: 10px;
    border-radius: 5px;
    border: none;
}