.d_box{
    margin: 20px;
}
.update-body{
    width: 95%;
}

.update-row-gap{
    margin-bottom: 20px;
}
.up_pro_label{
    width: 50%;
}
.up_pro_box{
    width: 95%;
}

/* -----------------------------------------------updateed service list----------------------------------------- */

.updated-service-list{
    width: 95%;
}