.carousel-item .active {
  background-color: white;
}
.carousel {
  background: url(../../images/contact-bg.jpg) 0 0 no-repeat;
  background-size: cover;
  height: calc(100vh - 132px);
}
.carousel-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-item .carousel_img {
  margin-top: 70px;
}
.carousel-caption {
  position: relative;
  top: 9
  0px;
}
.carousel-caption h1 {
  font-size: 38px;
}
.carousel-caption span {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}
